@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?f8phcq');
  src:  url('../fonts/icomoon.eot?f8phcq#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?f8phcq') format('truetype'),
    url('../fonts/icomoon.woff?f8phcq') format('woff'),
    url('../fonts/icomoon.svg?f8phcq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e942";
}
.icon-envelope:before {
  content: "\e945";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-close:before {
  content: "\ea0d";
}


body
{
	font-family: 'Allerta', sans-serif;
	margin: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

section
{
	flex: 1;
}

table
{
	width: 100%;
}

th
{
	padding: 10px 20px;
	background: #273b47;
	color: white;
}

td
{
	padding: 20px;
	text-align: center;
}

table, td, th
{
	border: 1px solid #273b47;
	border-collapse: collapse;
}

input
{
	outline: 0;
}

textarea
{
	outline: 0;
	width: 194px;
	height: 114px;
}

input:focus, textarea:focus
{
	background: lightgray;
}

.header
{
	color: white;
}

.contenedor
{
	max-width: 800px;
	margin: auto;
	position: relative;
}

.fondo
{
	background: #1F313C;
	background-size: cover;
}

.button
{
	border-radius: 8px;
	border: none;
	background: #fd324e;
	color: white;
	padding: 7px 12px;
	cursor: pointer;
	text-decoration: none;
	background: linear-gradient(to left, #fe344e, #ff7250);
	transition: .2s;
	box-shadow: inset 0px -4px 0px rgba(0, 0 ,0, .3);
}

.superior
{
	font-size: 18px;
}

.inferior
{
	font-size: 12px;
}

a:hover
{
	transform: scale(0.9);
}

.inferior:active
{
	transform: scale(0.9);
}



.titulo
{
	font-size: 70px;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 15px;
	margin-top: 170px;
}

.titulo span
{
	text-decoration: underline;
}

.title-p
{
	font-size: 24px;
	margin-top: 0;
}


.title-a
{
	font-size: 50px;
	margin-bottom: 20px;
	margin-top: 20px;
}

.title-b
{
	font-size: 50px;
	margin-bottom: 20px;
	margin-top: 20px;
}

.guitarras
{
	color: #1F313C;
	margin-bottom: 55px;
}

.guitarras h2
{
	font-size: 35px;
	font-family: 'Montserrat', sans-serif;
	padding-left: 10px;
}

.portada
{
	color: white;
	height: 550px;
	background: url(../images/background.png);
	background-size: cover;
	margin-top: 2px;
	padding-top: 5px;

}

.contenedor .portada
{
	height: 350px;

}

.portada button
{
	margin-bottom: 70px;
}

.menu
{
	font-size: 24px;
	display: inline-block;
	position: absolute;
	right: 0;
	margin-top: 6px;
}

.menu li
{
	display: inline-block;
	margin-left: 30px;
}

.menu li:before
{
	content: '|';
	font-size: 50px;
	line-height: 20px;
}

.menu a
{
	color: white;
	text-decoration: none;
	padding-top: 15px;
}

.logotipo
{
	display: inline-block;
	margin-left: 0;
}


nav a:hover
{
  box-shadow: inset 0 5px 0 #fe344e;
}

nav a.activado
{
  box-shadow: inset 0 5px 0 #7dcd40;
}


.guitarra
{
	margin: 10px 10px 40px 10px;
	padding: 10px;
/*	overflow: hidden;*/
	border: 1px solid #1F313C;
	border-radius: 8px;
}

.guitarra ol
{
/*	padding: 0;*/
}

.guitarra.b
{
	height: 190px;
}

.derecha
{
	float: right;
	position: relative;
	top: -97px;
	right: 35px;
  transition: .1s;
}


.derecha:hover
{
  transform: translateX(10px) translateY(-14px) scale(1.1);
}

.izquierda:hover
{
  transform: rotate(-5deg) scale(1.1);
}



.izquierda
{
	float: left;
	position: relative;
	bottom: 10px;
  transition: .1s;
}

.contenedor-guitarra-a
{
	padding-left: 35px;
	padding-bottom: 10px;
}

.contenedor-guitarra-b
{
	margin-left: 380px;
	position: relative;
	bottom: 30px;
}

.encabezado
{
	position: relative;
	background: #1F313C;
	background-size: cover;
}

.footer
{
	background: #1F313C;
	padding: 10px 10px;
}

.contacto
{
	display: flex;
	width: 300px;
	flex-wrap: wrap;
	align-items: center;
}

.contacto img
{
	margin-right: 40px;
	margin-left: 40px;
	margin-bottom: -70px;

}

.contacto strong
{
	display: block;
}

.contacto a
{
	color: white;
	text-decoration: none;
}

.footer .contenedor
{
	display: flex;
	justify-content: space-between;
}

.formulario
{
	color: white;
}

.col1, .col2
{
	display: flex;
	flex-direction: column;
}

.col1
{
	margin-right: 25px;
	width: 200px;
}


.col2
{
	align-items: flex-start;
	width: 200px;
}

.col2 .button
{
	margin-top: 15px;
}

/*.intereses label
{
	font-size: 12px;
	margin-top: 10px;
}*/

.intereses
{
	font-size: 12px;
	margin-top: 10px;
	margin-bottom: 10px;
	display: flex;
	justify-content: space-between;
}

.intereses-1, .intereses-2
{

	align-content: flex-start;
	width: 100px;
}

.formulario label
{
	margin-bottom: 10px;
}

.sexo
{
	display: flex;
	justify-content: center;
	margin-top: 10px;
	margin-bottom: 15px;
	font-size: 12px;
}

.tabla
{
	margin: 50px 0;
}

.mujer, .varon
{
	width: 100px;
}

.contacto-formulario
{
	display: flex;
	justify-content: center;
}

.contacto-titulo p
{
	font-size: 20px;
	margin-bottom: -5px;
}

.contacto-titulo
{
	margin-top: -5px;
	margin-bottom: 20px;
}

.dato
{
	display: flex;
	justify-content: center;
	width: 300px;
}

.dato-contacto
{
	display: block;
	width: 150px;
	text-align: center;
	color: white;
}

.dato-contacto a
{
	font-size: 13px;
}

.dato-contacto p
{
	margin-top: 10px;
	margin-bottom: 0px;

}

.burguer-button
{
	width: 40px;
	border-radius: 50%;
	line-height: 40px;
	height: 40px;
	background: #fe344e;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	position: fixed;
	left: 20px;
	top: 20px;
	z-index: 3;
  display: none;
}

.video-demo
{
  max-width: 500px;
  width: 100%;
  border: 5px solid #3c5b6e;
}

.video-demo-contenedor
{
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

@media screen and (max-width: 950px)
{
	.portada
	{
		padding-left: 20px;
	}
	.menu
	{
		margin-right: 20px;
	}
	.logotipo
	{
		margin-left: 20px;
	}
}


@media screen and (max-width:800px)
{
	/* encabezado */
	.menu
	{
		font-size: 18px;
		margin-top: 13px;
	}
	/* encabezado */
  /* precios */
  .tabla
  {
    margin: 50px 20px;
  }
  .tabla .contenedor
  {
    overflow: auto;
    border: 1px solid #273b47;
  }
  /* precios */

	/* portada */
	.titulo
	{
		font-size: 55px;
		margin-top: 75px;
	}
	.title-p
	{
		font-size: 18px;
	}
	.portada
	{
		height: auto;
		padding-bottom: 60px;
	}
	.superior
	{
		font-size: 12px;
	}
	/* portada */

/* guitarras */
  .video-demo-contenedor
  {
    margin-bottom: 30px;
  }
	.guitarras
	{
		text-align: center;
		width: 100%;
	}
	.izquierda, .derecha
	{
		float: none;
		position: static;
	}
	.title-a, .title-b
	{
		margin: 0;
	}
	.guitarra li
	{
		list-style: none;
	}
	.guitarra.b
	{
		height: auto;
	}

	.contenedor-guitarra-a, 	.contenedor-guitarra-b
	{
		position: static;
		margin: 0;
		padding-left: 0;
	}
	.guitarra ol
	{
		padding: 0;
	}
/* guitarras */

/* footer */
	.footer .contenedor
	{
		display: block;
	}
	.contacto
	{
		margin: 0 auto;
	}
	.contacto img
	{
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.contacto-titulo
	{
		text-align: center;
		margin-top: 20px;
	}
	.formulario
	{
		display: block;
		margin: 30px auto;
	}
/* footer */



}

@media screen and (max-width:675px)
{
	.header
	{
		text-align: center;
	}
	.logotipo
	{
		margin: 10px;
	}
	.menu
	{
		font-size: 18px;
		position: static;
		display: block;
	}
	.menu li:first-child
	{
		margin: 0;
	}
	.menu ul
	{
		padding: 0;
	}
  /* .video-demo
  {
    margin: 0 10px;
  } */
}

@media screen and (max-width:500px)
{
	/* portada */
  .portada .button
  {
    display: block;
  }
  .burguer-button
  {
    display: block;
  }
	.portada .contenedor
	{
		position: static;
	}
	.menu
	{
		background: rgba(255, 60, 88, 0.8);
		position: fixed;
		left: -100%;
		top: 0;
		z-index: 2;
		/* bottom: 0; */
		right: 0;
		width: 100%;
		height: 100vh;
		display: flex;
		align-items: center;
		margin: 0;
		transition: .3s;
	}
	.menu.active
	{
		left: 0;
	}
	.menu ul
	{
		flex: 1;
	}
	.menu li
	{
		display: block;
		margin: 0;
		padding: 10px 0;
		border-bottom: 1px solid white;
	}
	.menu li:before
	{
		display: none;
	}
	.menu li:first-child
	{
		margin: 0;
		border-top: 1px solid white;
	}
	.portada
	{
		text-align: center;
	}
	.titulo
	{
		font-size: 30px;
	}
	.title-p
	{
		font-size: 16px;
	}
	/* portada */
	/* guitarras */
	.guitarra img
	{
		width: 200px;
		/* height: auto; */
	}
	.title-a, .title-b
	{
		font-size: 30px;
	}
  .video-demo-contenedor
  {
    margin: 0 10px 30px 10px;
  }
	/* guitarras */

	/* footer */
  .col2
  {
    align-items: stretch;
  }
	.formulario
	{
		margin: 0 auto;
	}

	.contacto-formulario
	{
		display: block;
		margin: 0 auto;
		width: 300px;
	}
	.col1, .col2
	{
		margin: 0 auto;
		width: 300px;
	}
	.intereses, .sexo
	{
		display: block;
		font-size: 16px;
	}

	.intereses-1
	{
		display: block;
		width: 125px;
	}

	input[type="text"], input[type="email"]
	{
		font-size: 16px;
		padding: 5px;
	}
	input[type="radio"], input[type="checkbox"]
	{
		/* zoom: 1.5; */
		transform: scale(1.5);
	}

	textarea
	{
		width: 100%;
	}

	/* footer */

}


.video-responsive-contenedor
{
	position: relative;
	padding-top: 56.25%;
	/* border: 1px solid red; */
  /* margin-bottom: 50px; */
}

.video-responsive-src
{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}


@media screen and (-webkit-min-device-pixel-ratio: 2)
{
  .portada
  {
    background-color: #466173;
    background: url(../images/background2x.png);
    background-size: cover;
  }
}
